<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.basicdb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/plastic_tree_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/plastic_tree_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddUser.MainAddUser">

        </activity>
        <activity
            android:name=".UpdateUser.MainUpdateUser">

        </activity>
        <activity
            android:name=".DeleteUser.MainDeleteUser">

        </activity>
    </application>

</manifest>